.c-hamburger {
  &__header {
    background-color: white;
    width: 60vw;
    height: 260px;
    position: absolute;
    left: 100%;
    z-index: 75;

    &.is-open {
      left: 40%;
      transition: 0.5s all;

    }
  }
}