// mixin用名前空間の宣言
@use "../../foundation/mixin" as mixin;

.c-img {
  height: 600px;
  width: 240px;
  object-fit: cover;

    @include mixin.tablet {
      height: 500px;
      width: 200px;
    }

  &__logo {
    height: 44px;
    width: 400px;
    object-fit: cover;
    
      @include mixin.tablet {
        height: 30px;
        width: 265px;
      }


  }

  &__work {
      height: 360px;
      width: 360px;
      object-fit: cover;

      @include mixin.tablet {
        height: 220px;
        width: 220px;
      }
  }

  &__character {
      font-family: 'Noto Sans JP', sans-serif;
  }

  // WorkやAbout、その他コンテンツページのヘッダーの画像
  &__header {
      height: 100px;
      width: 520px;
      object-fit: cover;

      @include mixin.tablet {
        height: 80px;
        width: 360px;
      }
      
  }

  // Workページのヘッダーの飾りの大きさ
  &__workheader {
     height: 40px;
     width: 40px;
  }

  // Workページのコンテンツの大きさ  
  &__workcontent {
     height: 460px;
     width: 920px; 
     object-fit: cover;

     @include mixin.tablet {
      height: 300px;
      width: 600px;
    }
  }

  &__slider {
     height: 690px;
     width: 920px;
     object-fit: cover;
  }


}