.c-img {
  height: 600px;
  width: 240px;
  object-fit: cover;

  &__logo {
    height: 44px;
    width: 400px;
    object-fit: cover;
  }

  &__work {
      height: 360px;
      width: 360px;
      object-fit: cover;
  }

  &__character {
      font-family: 'Noto Sans JP', sans-serif;
  }

  // WorkやAbout、その他コンテンツページのヘッダーの画像
  &__header {
      height: 100px;
      width: 520px;
      object-fit: cover;
      
  }

  // Workページのヘッダーの飾りの大きさ
  &__workheader {
     height: 40px;
     width: 40px;
  }

  // Workページのコンテンツの大きさ  
  &__workcontent {
     height: 460px;
     width: 920px; 
     object-fit: cover;
  }

  &__slider {
     height: 690px;
     width: 920px;
     object-fit: cover;
  }


}